<h2>User</h2>
  <div class="container">
    <ul>
      <li>User Email: <%= @user.email %></li>
    </ul>
  </div>

<h5><%= @user.email %>'s Items</h5>
  <div>
    <% unless @items.count == 0 %>
      <%#= render partial: 'items/item', locals: { user: @user, item: @item } %>
      <ul class='js-items'>
        <% @items.each do |item| %>
          <%#= render(item) %>
          <%= render partial: 'items/item', locals: {item: item} %>
        <% end %>
      </ul>

    <% end %>
  </div>

<% if current_user == @user %>
  <h5>Add Item:</h5>
    <div class='new-item'>
      <%= render partial: 'items/form', locals: { user: @user, item: @item } %>
    </div>
<% end %>
