<h2>User</h2>
  <div class="container">
    <ul>
      <li>User Email: <%= @user.email %></li>
    </ul>
  </div>

<h3><%= @user.email %>'s Items</h3>
  <%= render partial: 'items/form', locals: { items: @user.items } %>
