<%= form_for [user, @user.items.build], remote: true do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter items (separated by commas)" %>
  </div>
    <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
