<div class="form-group">
  <%= form_for [user, item] do |f| %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter items (separated by commas)" %><br>
    <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
</div>
