<% @items.each do |item| %>
  <ul>
    <li>
      <% if current_user == @user %>
        <%= link_to "", [@user, item], method: :delete, remote: true, class: 'gylphicon glyphicon-ok' %>
      <% end %>
      <%= item.name %></li>
  </ul>
<% end %>
