<li id="item-<%= item.id %>">
  <% if current_user == @user %>
    <%= link_to "", [@user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
  <% end %>
  <%= item.name %>
</li>
